<div class="wrapper">
<center>
<div class="login-form">
<h1>Login : </h1>
<%= form_tag session_path, :method => :post do %>
  <%= text_field_tag :email, "  email address" %>

  <%= password_field_tag :password, "  password" %>

  <%= submit_tag "login", :class => "submit" %>
<% end %>
</div>
</center>
</div>