<center>
<div class="watchlist-form">
<%= form_for [@current_user, @watchlist] do |f| %>
  <%= f.text_field :name, :placeholder => "  name" %>

  <%= f.submit "create watchlist", :class => "submit" %>
<% end %>
</div>
</center>