<div class="wrapper">
<center>
<div class="welcome">
  <h1>Welcome to Fundation</h1>
  <h3>Register for premium access to :</h3>
  <ul>
    <li>The largest database of startups and funding information</li><br/>
    <li>Powerful search queries</li><br/>
    <li>Company tracking capabilities</li>
  </ul>
</div>
</center>
</div>