<center>
<div class="search">
<h4><%= @msg %></h4>
<%= form_tag search_companies_path, :method => :get do %>
  <%= text_field_tag :name, "  company name" %>
  
  <%= submit_tag "search", :class => "submit" %>
<% end %>
</div>
</center>